@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&family=Ubuntu+Mono&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace; */
* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Ubuntu Mono', monospace;
}

/*header_________________________________________________________*/
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

#logo {
  width: 150px;
  height: auto;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 50%;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.banner>div {
  flex: 1;
}

.banner h1 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.1em;
}

menu {
  border: solid 2px #E59999;
  background-color: rgb(197, 196, 196);
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

menu>ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  margin: 10px auto;
  width: 80%;
}

ul a:hover {
  color: #E59999;
  font-weight: bolder;
}

.produits>a::after {
  content: " ▼";
  font-size: 0.8em;
}

menu>ul>li,
.absolu>li {
  list-style-type: none;
}

.produits,
.panier,
.devis {
  position: relative;
  text-align: center;
  width: 20%;
}

ul li a {
  text-decoration: none;
  color: black;
}

/* #chevron {
  width: 15px;
  height: 20px;
}

#chevron:hover {
  cursor: pointer;
} */

/* button.deroulant {
  background-color: transparent;
  border: none;
  vertical-align: middle;
} */

/* .produits img:hover {
  scale: 1.5;
} */

menu>ul li .absolu {
  display: none;
  position: absolute;
  text-align: left;
  top: 43px;
  width: 100%;
  z-index: 1000;
  font-size: 0.8em;
  box-shadow: 0px 1px 2px;
  background-color: rgb(197, 196, 196);
  padding-left: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: 2s;
}

/* Titre de section et barre de recherche_________________________ */
/* .header_section {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 80%;
  margin: 1% auto;
}

.header_section>h2,
input#search,
input#loupe,
div {
  flex: 1;
  margin: 1%;
}

.header_section>h2 {
  text-align: start;
  font-size: 2em;
  color: rgb(128, 128, 128);
} */

#search {
  height: 30px;
}

#loupe {
  border: none;
  background-color: white;
  font-size: 25px;
  text-align: left;
}

#loupe:hover {
  cursor: pointer;
}

/*___________________________________________________________*/
main {
  display: grid;
  grid-template-columns: 6fr 3fr;
  width: 80%;
  margin: 1% auto;
  column-gap: 50px;
}

/* Section produits proposés à la vente____________________________ */
section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  max-height: 80vh;
}

.outils {
  text-align: center;
  border: 1px solid grey;
  background-color: rgb(197, 196, 196);
  padding: 10px;
}

.outils img {
  width: 60%;
  padding-top: 10px;
  transition: 0.5s;
}

.outils img:hover {
  scale: 1.5;
}

p.price {
  font-size: 1.5em;
  padding: 10px 0;
}

label {
  text-align: left;
  margin: auto 0;
  font-size: 1.2em;
}

.quantite {
  height: 25px;
  width: 40px;
  background: #FFB4B4;
  font-size: 1.2em;
}

.addButton {
  padding: 1% 0;
  margin: 5% 0;
  width: 60%;
  font-size: 1.2em;
}

.addButton:hover {
  cursor: pointer;
}

/* aside MY CART_________________________________________*/
aside {
  height: 8vh;
  position: sticky;
  z-index: 11;
  top: 25%;

}

aside h2 {
  font-size: 3rem;
  padding: 0px;
  margin: 7px 0 0 20px;
  color: rgb(128, 128, 128);
}

.cartlist {
  border: 1px solid black;
  background-color: rgb(197, 196, 196);
  margin: 1% 2% 0;
  padding: 2%;
}

.cartlist #panier {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #FFB4B4;
}

.ligne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: whitesmoke;
}

.ligne button {
  font-size: 29px;
  border: none;
  background-color: transparent;
}

.ligne button:hover {
  cursor: pointer;
}

.cubePrice {
  display: flex;
  background-color: #E59999;
  height: 30px;
  font-size: 1.5em;
  align-items: center;
  margin: 0 5px;
  padding: 3px;
}

.article {
  display: flex;
  width: 100%;
  padding: 3% 3%;
  gap: 15px;

}

.article input {
  width: 30px;
  height: 20px;
  border: none;
  align-self: flex-end;
}

.refPrix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.refPrix div:first-child {
  font-weight: 800;
}

.refPrix div:last-child {
  display: flex;
  gap: 20px;
  align-items: center;
}

#faut-payer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#faut-payer h2 {
  margin: 10px 10px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.762);
}

#faut-payer button {
  font-size: 25px;
  width: 300px;
  height: 40px;
  background-color: rgb(144, 238, 185);
  border: 1px solid;
  margin: 0 10px;
}

#faut-payer button:hover {
  cursor: pointer;
}

.quantity {
  width: 25px;
}

aside .article img {
  width: 50px;
}

button>img {
  width: 40px;
}